.navbar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid black;
}
.logo {
    font-size: 20px;
    font-weight: bold;
}
.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.card {
    display: flex;
    flex-direction: row;
    gap: 16px;  /*spacing between items*/
    box-sizing: border-box;
    width: 300px;
    padding: 12px;
    border: 1px solid black;
}
.avatar {
    width: 150px;
    height: 100px;
}
.role {
    color: #666;
}
.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    width: 360px;
    padding: 16px;
    border: 2px solid black;
}
.stat {
    display: flex;
    flex-direction: column;
}
.number {
    font-weight: bold;
    font-size: 24px;
}
.label {
    color: #666;
    font-size: 12px;
}
